# Configurações do Banco de Dados
DATABASE_URL=jdbc:postgresql://localhost:5432/corridas_dev
DB_USERNAME=corridasdb
DB_PASSWORD=secret

# Configurações JWT
JWT_SECRET=super-secret-key-change-me

# Configurações MinIO
MINIO_ENDPOINT_INTERNAL=http://localhost:9000
MINIO_ENDPOINT_PUBLIC=http://localhost:9000
MINIO_BUCKET=corridas-storage
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_REGION=sa-east-1
MINIO_CONSOLE=http://localhost:9001
MINIO_PRESIGNED_URL_EXPIRY=3600
